auto-install-peers=true

# [Important]
#   Turbo Repo currently manages dependenbcy graph and run tasks
#   following its dpeendency graph. However, when running scripts
#   on a per-pacake basis, pre/post scripts might fail to run and
#   that is why we enable `enable-pre-post-scripts`.

enable-pre-post-scripts=true
