auto-install-peers=true

# [Important]
#
#   Turbo Repo currently manages dependenbcy graph and run tasks
#   following its orderly scheme. Because of this, we cna't enable
#   the pre/post scripts option, as it could trigger unwanted effects
#
# enable-pre-post-scripts=true
