{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["packages/**/*.ts", "apps/docs-snippets/**/*.ts"],
  "exclude": [
    "/dist/",
    "/apps/demo-nextjs",
    "/apps/demo-react-cra",
    "/dist/demo-react-vite"
  ]
}
