dist
.coverage_*
coverage
node_modules
docs/examples/
/apps/demo-typegen/src/generated-types
/packages/apps/docs/.vitepress/cache/
/packages/program/src/multicall/static-out

__generated__
out
CHANGELOG.md
.chglog/CHANGELOG.tpl.md

# handlebars templates and transpiled ts
*.hbs
*.hbs.ts

*.mjs
sway-repo
forc-binaries
