{
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "printWidth": 100,
        "semi": true,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "trailingComma": "es5",
        "parser": "typescript"
      }
    },
    {
      "files": ["*.js", "*.ts", "*.json"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["apps/docs-snippets2/src/**/*.ts"],
      "excludeFiles": ["apps/docs-snippets2/src/**/*.test.ts"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
