dist
.coverage_*
coverage
node_modules
docs/examples/

apps/demo-fuels/src/sway-programs-api
apps/demo-bun-fuels/src/sway-programs-api
apps/demo-nextjs
apps/demo-react-cra
apps/demo-react-vite
apps/demo-typegen/src/contract-types
apps/demo-typegen/src/script-types
apps/demo-typegen/src/predicate-types
apps/docs/.vitepress/cache/
apps/create-fuels-counter-guide

packages/fuels/src/cli/commands/deploy/proxy/types
packages/fuels/test/fixtures/project
packages/account/src/providers/assets

__generated__
out
CHANGELOG.md
.chglog/CHANGELOG.tpl.md

# handlebars templates and transpiled ts
*.hbs
*.hbs.ts

*.mjs
sway-repo
forc-binaries
