dist
.coverage_*
coverage
node_modules
docs/examples/
/apps/demo-typegen/src/generated-types
/apps/docs/.vitepress/cache/
/apps/docs/demo-nextjs
/apps/docs/demo-react-cra
/apps/docs/demo-react-vite

__generated__
out
CHANGELOG.md
.chglog/CHANGELOG.tpl.md

# handlebars templates and transpiled ts
*.hbs
*.hbs.ts
