.search-input {
  color: $grey-lt-300;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link.active {
  color: $grey-lt-300;
}

pre.highlight {
  position: relative;
}

pre.highlight > .btn-copy-code {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}