[workspace]
members = [
  "bytecode-input",
  "counter",
  "counter-v2",
  "proxy",
  "echo-values",
  "script-transfer-to-contract",
  "echo-asset-id",
  "echo-bytes",
  "echo-employee-data-vector",
  "echo-enum",
  "echo-evm-address",
  "echo-raw-slice",
  "echo-std-string",
  "employee-data",
  "input-output-types",
  "script-sum",
  "simple-predicate",
  "sum-option-u8",
]
