[workspace]
members = [
  "bytecode-input",
  "configurable-pin",
  "counter",
  "log-values",
  "my-contract",
  "echo-values",
  "script-transfer-to-contract",
  "echo-asset-id",
  "echo-bytes",
  "echo-configurables",
  "echo-employee-data-vector",
  "echo-enum",
  "echo-evm-address",
  "echo-raw-slice",
  "echo-std-string",
  "employee-data",
  "input-output-types",
  "predicate-main-args-struct",
  "predicate-multi-args",
  "return-true-predicate",
  "script-sum",
  "simple-predicate",
  "simple-token",
  "simple-token-abi",
  "storage-test-contract",
  "sum-option-u8",
  "token-depositor",
  "return-context",
  "transfer-to-address",
  "whitelisted-address-predicate",
]
