name: "Audit"

on:
  pull_request:
    branches:
      - master

jobs:
  audit:
    if: startsWith(github.head_ref, 'changeset-release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI Setup
        uses: ./.github/actions/ci-setup

      - name: Audit
        run: pnpm audit
