name: Benchmarks
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI Setup
        uses: ./.github/actions/test-setup

      - name: Pretest
        run: pnpm pretest

      - name: Run Node benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: pnpm bench:node
          token: ${{ secrets.CODSPEED_TOKEN }}

      - name: Run Browser benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: pnpm bench:browser
          token: ${{ secrets.CODSPEED_TOKEN }}
