name: Benchmarks
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    # remove if:false after fine-tuning benchmarks
    if: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI Setup
        uses: ./.github/actions/test-setup

      - name: Pretest
        run: pnpm pretest

      - name: Run Node benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: pnpm bench:node
          token: ${{ secrets.CODSPEED_TOKEN }}
