name: Release to @rc-<pr_number> tag on npm

on:
  pull_request:
    branches:
      - "master"

jobs:
  check-title:
    runs-on: ubuntu-latest
    outputs:
      is-breaking-change: ${{ steps.check-title.outputs.is-breaking-change }}
    steps:
      - name: Check if PR title is a breaking change
        id: check-title
        run: echo "::set-output name=is-breaking-change::$(echo '${{ github.event.pull_request.title }}' | grep -q '^\\w+!:' && echo 'true' || echo 'false')"

  release-pr:
    needs: check-title
    if: needs.check-title.outputs.is-breaking-change == 'true'
    name: "Release breaking change PR to npm"
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: FuelLabs/github-actions/setups/node@master
        with:
          node-version: 20.10.0
          pnpm-version: 8.9.0
      - uses: FuelLabs/github-actions/setups/npm@master
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}

      - name: Build
        run: pnpm build

      - name: Add RC flag to PR name
        uses: frabert/replace-string-action@v2
        id: release_name
        with:
          string: ${{ github.event.pull_request.number }}
          pattern: "^(.*)$"
          replace-with: "rc-$1"

      - name: Release to @${{ steps.release_name.outputs.replaced }} tag on npm
        id: release
        run: |
          pnpm changeset:next
          git add .changeset/fuel-labs-ci.md
          pnpm changeset version --snapshot ${{ steps.release_name.outputs.replaced }}
          changetsets=$(pnpm changeset publish --tag ${{ steps.release_name.outputs.replaced }})
          published_version=$(echo "$changetsets" | grep -oP '@\K([0-9]+\.){2}[0-9]+-${{ steps.release_name.outputs.replaced }}-\d+' | head -1)
          echo "published_version=$published_version" >> $GITHUB_OUTPUT
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add PR comment
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Breaking change PR published under the `${{ steps.release_name.outputs.replaced }}` tag.
            Install it:
            ```bash
            pnpm add fuels@${{ steps.release_name.outputs.replaced }}
            pnpm add fuels@${{ steps.release.outputs.published_version }}
            ```
            Check it out:
            - https://www.npmjs.com/package/fuels/v/${{ steps.release_name.outputs.replaced }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update SDK on Wallet
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: update-sdk-manual.yaml
          ref: master
          repo: FuelLabs/fuels-wallet
          inputs: '{ "publisher": "${{ github.event.repository.name }}", "issue": "${{ github.event.pull_request.number }}", "packages": "fuels", "tag": "${{ steps.release_name.outputs.replaced }}" }'
          token: ${{ secrets.REPO_TOKEN }}
