name: Pull Request Labeler

on:
  pull_request_target:
    types: [opened, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  label_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: fuxingloh/multi-labeler@v4
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          config-path: .github/labeler.yml
