name: "Test"

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: CI Setup
        uses: ./.github/actions/ci-setup

      - name: Forc Format Check
        run: pnpm forc:check

      - name: Build
        run: |
          BUILD_VERSION="0.0.0-${{ github.ref_name }}-$(git rev-parse --short $GITHUB_SHA)" pnpm build

      - name: Lint
        run: |
          pnpm lint

      - name: Setup Docker
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checking PR Number
        uses: jwalton/gh-find-current-pr@v1
        id: findPr

      - name: Run tests with coverage
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          package-manager: pnpm
          annotations: failed-tests
          test-script: pnpm ci:test
          prnumber: ${{ steps.findPr.outputs.number }}

      - name: Rebuild Docs
        # if: github.head_ref == 'changeset-release/master'
        if: github.head_ref == 'cm/issue-123'
        run: pnpm i && pnpm typedoc

      - name: Setup git user
        if: github.head_ref == 'cm/issue-123'
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Commit Docs
        if: github.head_ref == 'cm/issue-123'
        uses: EndBug/add-and-commit@v9
        with:
          add: docs/
          fetch: false
          push: --force
