name: "Test"

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  environments:
    runs-on: ubuntu-latest
    # name will be node@<version> or browser
    name: ${{ matrix.env.display-name }}
    strategy:
      fail-fast: false
      matrix:
        env:
          [
            { name: node, version: 18.20.3, display-name: "node@18" },
            { name: node, version: 20.14.0, display-name: "node@20" },
            { name: node, version: 22.3.0, display-name: "node@22" },
            { name: browser, display-name: "browser" },
          ]
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI Setup
        uses: ./.github/actions/test-setup
        with:
          node-version: ${{ matrix.env.version || 20 }}

      - name: Validate Tests
        run: pnpm test:validate

      - name: Pretest
        run: pnpm pretest

      - name: Install playwright dependencies
        if: matrix.env.name == 'browser'
        run: pnpm exec playwright install --with-deps --only-shell chromium

      - name: Run Tests - ${{ matrix.env.name }}
        run: pnpm test:${{ matrix.env.name }}

      - name: Upload Coverage - ${{ matrix.env.name }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.env.name }}
          path: coverage/environments/${{ matrix.env.name }}
          overwrite: true

  integration:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    env:
      NEXT_DIST_TAG: next
      PR_DIST_TAG: pr-${{ github.event.pull_request.number }}
      NPM_DIST_TAG: ${{ github.event_name == 'pull_request' && env.PR_DIST_TAG || env.NEXT_DIST_TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Test Setup
        uses: ./.github/actions/test-setup
        with:
          should-install-bun: true

      - name: Create .bunfig.toml
        run: |
          cat << EOF > "$XDG_CONFIG_HOME/.bunfig.toml"
          [install.scopes]

          # as an object with token
          "@FuelLabs" = { token = "$GITHUB_TOKEN", url = "https://npm.pkg.github.com/" }
          EOF
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Running test for bun create
        run: |
          echo $XDG_CONFIG_HOME
          cat $XDG_CONFIG_HOME/.bunfig.toml
          bun create @FuelLabs/fuels@next test-project --no-install
        env:
          npm_token: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run UI tests (on template)
        run: sh ./scripts/tests-ui.sh

      - name: Wait for release to succeed
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          check-name: "publish-to-github-packages"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30

      - name: Create .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //npm.pkg.github.com/:_authToken=$GITHUB_TOKEN
            @FuelLabs:registry=https://npm.pkg.github.com
          EOF
        env:
          HOME: ${{ github.workspace }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests (with published version)
        run: pnpm test:integration
        env:
          PUBLISHED_NPM_TAG: ${{ env.NPM_DIST_TAG }}
          HOME: ${{ github.workspace }}
          NPM_CONFIG_USERCONFIG: $HOME/.npmrc
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUN_CONFIG_REGISTRY: https://npm.pkg.github.com

      - name: Run UI tests (with published version)
        run: sh ./scripts/tests-ui-integration.sh
        env:
          PUBLISHED_NPM_TAG: ${{ env.NPM_DIST_TAG }}
          HOME: ${{ github.workspace }}
          NPM_CONFIG_USERCONFIG: $HOME/.npmrc
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUN_CONFIG_REGISTRY: https://npm.pkg.github.com

  forc:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test Setup
        uses: ./.github/actions/test-setup

      - name: Setup forc and fuel-core paths
        shell: bash
        run: |
          echo "$PWD/internal/forc/forc-binaries" >> $GITHUB_PATH
          echo "$PWD/internal/fuel-core/fuel-core-binaries" >> $GITHUB_PATH

      - name: Run Tests
        run: pnpm test:forc

  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    needs: [environments]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Test Setup
        uses: ./.github/actions/test-setup

      - name: Pretest
        run: pnpm pretest

      - name: Run Isolated Tests
        run: pnpm test:e2e
        env:
          TESTNET_WALLET_PVT_KEY: ${{ secrets.TESTNET_WALLET_PVT_KEY }}
          # uncomment the below line to test against devnet
          # DEVNET_WALLET_PVT_KEY: ${{ secrets.DEVNET_WALLET_PVT_KEY }}

  test:
    if: github.base_ref == 'master' || github.ref_name == 'master'
    runs-on: ubuntu-latest
    needs: [environments, e2e]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI Setup
        uses: ./.github/actions/test-setup

      - name: Generate Coverage Directory
        run: mkdir -p coverage/environments

      - name: Download Coverage Artifact for Node Tests
        uses: actions/download-artifact@v4
        with:
          name: node
          path: coverage/environments/node

      - name: Download Coverage Artifact for Browser Tests
        uses: actions/download-artifact@v4
        with:
          name: browser
          path: coverage/environments/browser

      - name: Generate Coverage
        run: pnpm test:coverage-merge

      - name: Find PR Number
        uses: jwalton/gh-find-current-pr@v1
        id: findPr

      - name: Upload Master Coverage Artifact
        uses: actions/upload-artifact@v4
        if: ${{ !steps.findPr.outputs.number }}
        with:
          name: coverage-master
          path: coverage/report

      - name: Download Master Coverage Artifact
        uses: dawidd6/action-download-artifact@v8
        if: ${{ steps.findPr.outputs.number }}
        with:
          workflow: test.yaml
          branch: master
          name: coverage-master
          path: coverage-master

      - name: Generate Coverage Diff
        if: ${{ (steps.findPr.outputs.number) }}
        run: pnpm test:coverage-diff

      - name: Report Coverage
        uses: thollander/actions-comment-pull-request@v3
        if: ${{ steps.findPr.outputs.number }}
        with:
          file-path: coverage/report/coverage-diff.txt
          pr-number: ${{ (steps.findPr.outputs.number) }}
          comment-tag: diff
          mode: recreate
          create-if-not-exists: true
