name: "Test"

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: CI Setup
        uses: ./.github/actions/ci-setup

      - name: Forc Format Check
        run: pnpm forc:check

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Find PR Number
        uses: jwalton/gh-find-current-pr@v1
        id: findPr

      - name: Run tests and collect coverage
        if: ${{ !steps.findPr.outputs.number }}
        run: pnpm ci:test -- --json --coverage --testLocationInResults --outputFile=report.master.json

      - name: Upload coverage to Github artifacts
        uses: actions/upload-artifact@v3
        if: ${{ !steps.findPr.outputs.number }}
        with:
          name: coverage-reports
          path: report.master.json

      - name: Download coverage artifact
        uses: actions/download-artifact@v3
        if: ${{ steps.findPr.outputs.number }}
        with:
          name: coverage-reports
          path: report.master.json

      - name: Run tests and post reports to PR
        uses: ArtiomTr/jest-coverage-report-action@v2
        if: ${{ steps.findPr.outputs.number }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          package-manager: pnpm
          annotations: failed-tests
          test-script: pnpm ci:test
          prnumber: ${{ steps.findPr.outputs.number }}
          base-coverage-file: coverage-reports/report.master.json
